<!DOCTYPE html>
<html lang="vi">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0"/>
        <title>Booking Trip</title>
        <link rel = "stylesheet" href={% static 'account.css'%}>
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <!--<style>
            div.menu{
                background-color: rgb(0,255,0);
            }
        </style>-->
    </head>
{% include 'home/navbar.html' %}
{% block content %}
<div class="bodi">
        <div class="container-header">
            <h1>Login</h1>
            {% include "accounts/alert.html" %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address"
                        name="email" value="{{ email }}">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"
                        name="password" value="{{ password }}">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                </div> <!-- form-group// -->
            </form>
            <div class="signup-link">
                Not a member?
                <a href="{% url 'register'%}"> Register</a>
            </div>
        </div>
    </div>
{% endblock %}